Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# semua url ambil, taruh di index.php?url={url}
# localhost/php_mvc/public
# /products/another -> index.php?url=/products/another
RewriteRule ^(.*)$ index.php?url=$1 [L] 
